In [ ]:
import pandas as pd
import numpy as np
import io

In [ ]:
from google.colab import files 
uploaded=files.upload()

Saving telecom_churn.csv to telecom_churn.csv

In [ ]:
df=pd.read_csv('telecom_churn.csv')

In [ ]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [ ]:
df.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False

In [ ]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [ ]:
df['State']

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

In [ ]:
df['State'].unique().shape

(51,)

In [ ]:
print(type(df['State']))

<class 'pandas.core.series.Series'>

In [ ]:
df['State']=='KS'

0        True
1       False
2       False
3       False
4       False
        ...
3328    False
3329    False
3330    False
3331    False
3332    False
Name: State, Length: 3333, dtype: bool

In [ ]:
df[df['State']=='KS']

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
179,KS,70,408,No,No,0,232.1,122,39.46,292.3,112,24.85,201.2,112,9.05,0.0,0,0.00,3,False
258,KS,92,408,Yes,No,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,True
287,KS,137,408,No,No,0,205.9,88,35.00,209.3,86,17.79,289.9,84,13.05,14.5,4,3.92,2,False
368,KS,132,415,No,No,0,83.4,110,14.18,232.2,137,19.74,146.7,114,6.60,7.6,5,2.05,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3217,KS,164,510,No,Yes,30,238.8,100,40.60,230.0,121,19.55,206.3,66,9.28,13.2,8,3.56,1,False
3244,KS,101,415,No,No,0,231.3,87,39.32,224.7,88,19.10,214.6,69,9.66,7.2,7,1.94,1,False
3253,KS,127,415,No,Yes,24,154.8,69,26.32,177.2,105,15.06,207.6,102,9.34,9.0,4,2.43,1,False
3285,KS,57,415,No,No,0,158.1,117,26.88,115.2,149,9.79,182.4,92,8.21,11.8,7,3.19,0,False
3287,KS,170,415,No,Yes,42,199.5,119,33.92,135.0,90,11.48,184.6,49,8.31,10.9,3,2.94,4,True

In [ ]:
df_ks=df[(df['State']=='KS') & (df['International plan']=='Yes')]

In [ ]:
df_ks.sum()

State                             KSKSKSKSKSKSKSKS
Account length                                 824
Area code                                     3394
International plan        YesYesYesYesYesYesYesYes
Voice mail plan                 NoNoNoYesNoNoNoYes
Number vmail messages                           55
Total day minutes                           1430.5
Total day calls                                892
Total day charge                            243.19
Total eve minutes                           1695.9
Total eve calls                                756
Total eve charge                            144.15
Total night minutes                         1640.9
Total night calls                              719
Total night charge                           73.84
Total intl minutes                            90.3
Total intl calls                                33
Total intl charge                            24.39
Customer service calls                           9
Churn                                            6
dtype: object

In [ ]:
df_ks.shape

(8, 20)

In [ ]:
df.groupby("State")

In [ ]:
df.groupby(by='State')['Total day calls'].sum()

State
AK     4954
AL     7928
AR     5618
AZ     6407
CA     3553
CO     6278
CT     7284
DC     5409
DE     6017
FL     6363
GA     5565
HI     5449
IA     4534
ID     7754
IL     5898
IN     7601
KS     7072
KY     5920
LA     5279
MA     6649
MD     6955
ME     6169
MI     7388
MN     8326
MO     6296
MS     6546
MT     6475
NC     6990
ND     6209
NE     5942
NH     5542
NJ     6807
NM     6339
NV     6694
NY     8154
OH     7771
OK     6116
OR     7467
PA     4439
RI     6528
SC     6148
SD     5689
TN     5377
TX     7199
UT     7125
VA     8113
VT     7324
WA     6679
WI     7541
WV    11001
WY     7871
Name: Total day calls, dtype: int64

In [ ]:
df.groupby(by='State')['Total day calls'].mean()

State
AK     95.269231
AL     99.100000
AR    102.145455
AZ    100.109375
CA    104.500000
CO     95.121212
CT     98.432432
DC    100.166667
DE     98.639344
FL    101.000000
GA    103.055556
HI    102.811321
IA    103.045455
ID    106.219178
IL    101.689655
IN    107.056338
KS    101.028571
KY    100.338983
LA    103.509804
MA    102.292308
MD     99.357143
ME     99.500000
MI    101.205479
MN     99.119048
MO     99.936508
MS    100.707692
MT     95.220588
NC    102.794118
ND    100.145161
NE     97.409836
NH     98.964286
NJ    100.102941
NM    102.241935
NV    101.424242
NY     98.240964
OH     99.628205
OK    100.262295
OR     95.730769
PA     98.644444
RI    100.430769
SC    102.466667
SD     94.816667
TN    101.452830
TX     99.986111
UT     98.958333
VA    105.363636
VT    100.328767
WA    101.196970
WI     96.679487
WV    103.783019
WY    102.220779
Name: Total day calls, dtype: float64

In [ ]:
df.groupby(by='State')['Total day calls'].std()

State
AK    19.130220
AL    17.377856
AR    20.809914
AZ    22.015952
CA    22.862236
CO    19.483733
CT    20.068432
DC    20.357883
DE    20.809479
FL    16.074424
GA    18.559864
HI    19.043530
IA    20.154005
ID    18.759625
IL    18.378293
IN    19.025462
KS    17.256775
KY    18.141788
LA    17.253837
MA    21.408032
MD    19.418380
ME    19.184822
MI    20.247057
MN    22.270735
MO    19.266278
MS    19.612435
MT    22.455160
NC    20.954506
ND    18.305107
NE    19.954429
NH    21.476384
NJ    20.591362
NM    19.789619
NV    20.466153
NY    19.045254
OH    19.681298
OK    21.506512
OR    20.039359
PA    22.717790
RI    20.205947
SC    20.505036
SD    21.913150
TN    23.133032
TX    15.410343
UT    19.565302
VA    19.033149
VT    22.707717
WA    17.669809
WI    19.533184
WV    21.925851
WY    23.274463
Name: Total day calls, dtype: float64

In [ ]:
df.groupby(by='State')['Total intl minutes'].sum()

State
AK     521.0
AL     823.4
AR     570.5
AZ     680.4
CA     335.5
CO     651.5
CT     743.7
DC     572.7
DE     627.4
FL     633.0
GA     554.9
HI     533.0
IA     425.6
ID     766.6
IL     599.4
IN     709.8
KS     759.2
KY     628.6
LA     475.9
MA     641.5
MD     763.1
ME     619.6
MI     772.5
MN     877.5
MO     637.0
MS     694.5
MT     722.1
NC     677.2
ND     598.7
NE     637.4
NH     566.8
NJ     735.0
NM     641.2
NV     662.5
NY     828.8
OH     803.2
OK     638.7
OR     804.1
PA     472.1
RI     643.3
SC     594.8
SD     603.8
TN     545.0
TX     760.2
UT     736.7
VA     816.7
VT     741.1
WA     646.1
WI     760.1
WV    1067.2
WY     800.3
Name: Total intl minutes, dtype: float64

In [ ]:
df['total']=df['Total intl calls']+df['Total eve calls']

In [ ]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,102
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,106
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,115
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,95
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,18.32,279.1,83,12.56,9.9,6,2.67,2,False,132
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,13.04,191.3,123,8.61,9.6,4,2.59,3,False,59
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,24.55,191.9,91,8.64,14.1,6,3.81,2,False,64
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,False,94
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,22.60,241.4,77,10.86,13.7,4,3.70,0,False,86

In [ ]:
df.drop[]